// typography
@mixin font-heading {
  font-family: $font-heading;
  font-weight: $bold;
  text-transform: uppercase;
}

@mixin font-body {
  font-weight: $regular;
}

// button
@mixin cta {
  display: block;
  font-family: $font-heading;
  font-size: 2rem;
  letter-spacing: 3.64px;
  text-transform: uppercase;
  color: $white;
  background-color: $black;
  border: none;
  padding: 20px 25px;
  text-align: center;
  width: 204px;
  height: 72px;
  margin: 25px 15px;
  position: relative;
  transition: all 0.5s ease;
  text-decoration: none;
}
