// typography
$font-heading: 'Big Shoulders Display', cursive;
$font-body: 'Outfit', sans-serif;
$bold: 900;
$regular: 300;

// palette
$gold: #D5966C;
$black: #151515;
$grey: #444444;
$white: #FFFFFF;

