@import '/scss/variables';
@import '/scss/mixins';

.img {
  margin: 0 auto;
  padding: 6.677px 15px;
  width: 100%;
}

.hero {
  margin-bottom: 100px;

  &__img {
    background: url(../../public/assets/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 240px;
  }
  &__title {
    @include font-heading;
    font-size: 6rem;
    line-height: 55px;
    padding: 25px 15px;
    width: 83%;
  }
  &__desc {
    font-weight: $regular;
    font-size: 1.8rem;
    line-height: 28px;
    padding-inline: 15px;
  }
  &__cta {
    @include cta;

    &:hover {
      cursor: pointer;
      background-color: $gold;
    }

    &:hover::before {
      background-color: $black;
    }

    &::before {
      position: absolute;
      content: '';
      content: url('../../public/assets/icon-arrow-right.svg');
      width: 58px;
      height: 100%;
      background-color: $gold;
      top: 0;
      right: 0;
      bottom: 0;
      transform: translateX(100%);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
    }
  }
}

.main {
  margin: 0 auto 100px;

  &__title-grid1 {
    @include font-heading;
    font-size: 5rem;
    line-height: 45px;
    padding: 15px 15px 0;
  }
  &__desc-grid1 {
    width: 99%;
    @include font-body;
    font-size: 1.8rem;
    line-height: 28px;
    padding: 15px;
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $black;
    color: $white;
    margin: 6.677px 15px;
    padding: 45px 20px;
  }
  &__title-grid2 {
    @include font-heading;
    font-size: 5rem;
    line-height: 45px;
  }
  &__desc-grid2 {
    @include font-body;
    font-size: 1.8rem;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .img {
    margin: initial;
    padding: initial;
  }

  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;

    &__img {
      grid-column: 1/2;
      grid-row: 1/4;
      background: url(../../public/assets/tablet/image-hero.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      width: 437px;
      height: 700px;
    }
    &__title {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: end;
      font-size: 7rem;
      line-height: 65px;
      width: 100%;
      margin-left: -50px;
      padding: initial;
    }
    &__desc {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: center;
      font-size: 1.8rem;
      line-height: 28px;
      width: 103%;
      margin-left: -50px;
      padding-inline: initial;
      max-width: 525px;
    }
    &__cta {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: start;
      margin-left: -50px;
      margin-block: 0;
    }
  }

  .main {
    margin-inline: 42.25px;

    &__container-grid1 {
      display: grid;
      grid-template-columns: 0.75fr 1fr;
      grid-template-rows: 1fr 1fr;
      place-items: center;
      margin-bottom: 10px;
    }
    &__img-grid1 {
      content: url('../../public/assets/tablet/image-grid-1.jpg');
      grid-column: 2/3;
      grid-row: 1/3;
    }
    &__title-grid1 {
      padding: 0;
      width: 68%;
      justify-self: start;
    }
    &__desc-grid1 {
      width: 80%;
      padding: 0;
      justify-self: start;
      align-self: start;
    }
    &__container-grid2 {
      display: grid;
      grid-template-columns: 1fr 0.75fr;
      grid-template-rows: 0.75fr 1fr;
      gap: 10px;
    }
    &__img-grid2 {
      content: url('../../public/assets/tablet/image-grid-2.jpg');
      grid-column: 1/2;
      grid-row: 1/3;
    }
    &__img-grid3 {
      content: url('../../public/assets/tablet/image-grid-3.jpg');
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &__content-wrapper {
      margin: initial;
      padding: 45px 35px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1440px;
    margin-inline: auto;

    &::before {
      position: absolute;
      content: '';
      background-color: $black;
      width: 450px;
      height: 799px;
      top: 0;
      left: 0;
      bottom: 0;
    }
    &__img {
      background: url(../../public/assets/desktop/image-hero.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      width: 540px;
      height: 800px;
      margin-left: 450px;
    }
    &__title {
      grid-column: 1/2;
      grid-row: 2/3;
      width: 45%;
      font-size: 96px;
      line-height: 88px;
      color: $white;
      mix-blend-mode: difference;
      justify-self: center;
      align-self: center;
      margin-left: -125px;
    }
    &__desc {
      font-size: 2.2rem;
      line-height: 32px;
      grid-row: 2/3;
      width: 160%;
      align-self: start;
    }
    &__cta {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }

  .main {
    margin-inline: 126.75px;
    max-width: 1440px;

    &__container-grid1 {
      margin-bottom: 20px;
    }
    &__img-grid1 {
      content: url(../../public/assets/desktop/image-grid-1.jpg);
    }
    &__title-grid1 {
      font-size: 6rem;
      line-height: 60px;
      width: 55%;
    }
    &__desc-grid1 {
      font-size: 2.2rem;
      line-height: 32px;
      width: 65%;
    }
    &__container-grid2 {
      gap: 20px;
    }
    &__img-grid2 {
      content: url(../../public/assets/desktop/image-grid-2.jpg);
    }
    &__img-grid3 {
      content: url(../../public/assets/desktop/image-grid-3.jpg);
    }
    &__title-grid2 {
      font-size: 6rem;
      line-height: 60px;
    }
    &__content-wrapper {
      padding: 60px 80px;
    }
    &__desc-grid2 {
      font-size: 2.2rem;
      line-height: 32px;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .hero {
    &__desc {
      max-width: initial;
    }
  }

.main {
  margin-inline: auto;
}
}
