@import '/scss/variables';
@import '/scss/mixins';

.footer {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 45px 30px;

  &__logo {
    width: 110px;
    height: 40px;
  }
  &__desc {
    @include font-body;
    font-size: 1.6rem;
    line-height: 26px;
  }
  &__media-container {
    list-style: none;
    display: flex;
    gap: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    height: 216px;
    justify-content: space-between;
    padding: 45px 42.25px;

    &__desc {
      width: 36%;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding-inline: 100px;
    padding-top: 70px;

    &__logo {
      width: 160px;
      height: 58px;
    }
    &__desc {
      font-size: 1.8rem;
      line-height: 28px;
      width: 32%;
    }
  }
}
